:root {
    --primary-text-color: #212121;
    --description-text-color: #757575;
    --primary-white-color: #FFFFFF;
    --accent-blue-color: #2196F3;
    --active-color: #4682B4;
    --background-color-for-main-page: #E5E5E5;
    --decoration-line: #2F303A;
    --highlight-color: #000000;
    --social-links-color: #AFB1B8;
    }

/*общая стилизация страницы*/
.page {       
    font-family: Roboto, sans-serif;
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
    margin: 0;
    }

    p {
    margin: 0;
    }

    ul {
    margin: 0;
    padding: 0;
    }    

    .container {
      max-width: 1200px;
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;           
      } 

    .section {
    padding-top: 94px;
    padding-bottom: 94px;      
    }



 /*уборка всех маркеров со всех списков*/
 ul {
    list-style: none;
 } 

 /* уборка всех подчеркиваний у ссылок */
 a {
    text-decoration: none;
 }

/*уборка всех лишних заголовков*/
.hidden {
   display: none;
 }

/*стилизация всех подписей (абзацы) в серый цвет, согласно макету)*/
 .description {
    color: var(--description-text-color);    
 } 

 /*стилизация шапки страницы логотипа (включая версию логотипа подвала)*/

 .main-nav {
    display: flex;    
    align-items: center;              
 }

 .logo-and-nav {
   display: flex;    
   align-items: center;      
 }


 .page-header {
    background-color: var(--primary-white-color);
    justify-content: space-between;
    border-bottom: 1px solid #ECECEC;      
 } 

 .address-from-header:not(:last-child) {
   margin-right: 50px;
 }

 .nav-item:not(:last-child) {
   margin-right: 50px;
 }

 .logo {
    color: var(--highlight-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    text-decoration: none;
    display: flex;    
    align-items: center;
    margin-right: 93px;     
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 25px; 
    
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
 
 .logo > .web {
    color: var(--accent-blue-color);    
 }

 .logo > .studio {
    color: var(--primary-white-color);
 } 

 .logo:hover, .logo:focus {
    color: #7B68EE;
  }

 .logo:active {
     color: var(--active-color);
  }

 /*навигация по сайту (ссылки на разделы сайта)*/
 .site-nav a {
    color: inherit;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }
 
 .site-nav {
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   display: flex;    
   align-items: center;            
 }

  .nav-item a:hover, a:focus {
    color: var(--accent-blue-color);
 }
 .nav-item a:active {
    color: var(--active-color);
 }

 .site-nav .nav-item .current-link {
    color: var(--accent-blue-color);
 }

 /*адреса и контактные данные*/
 .address-list {
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
 }
   .main-adress {
   color: #FFFFFF;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   
 }

  .address-from-footer a {
   color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }

 .address-from-header a {    
     color: var(--description-text-color);
      display: flex; 
      padding-top: 32px;
      padding-bottom: 32px;
      
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   }     

 .contacts {
    display: flex;    
    margin-left: auto;              
 }

 .address-from-header:last-child {
    margin-right: 0;
 }
    
 .address-item a:hover, a:focus {
    color: var(--accent-blue-color);
 }
 .address-item a:active {
   color: var(--active-color);
 }

 .ending .address-list .main-adress {
   color: var(--primary-white-color);
 }

 .ending .address-list .main-adress:hover {
 color: var(--accent-blue-color);
 }
 
 
 .this-page {
  position: relative;
  display: block;
 }

 .current::after {
    display: inline-block;
    content: "";
    position: absolute;
    background-color: var(--accent-blue-color);
    bottom: -1px;
    right: 0px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
   }

 /* Оформление иконок конверта и смартфона */

 /*конверт*/
 .postal-envelope {    
    content: "";
    height: 100%;        
    display: flex;
    background-size: contain;
    align-items: center;
    justify-content: center;      
    }

    .postal-envelope {
     margin-right: 10px;
    }
   
    .letter {
      transition-property: --color3;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .letter:hover,
    .letter:focus {
      --color3: #2196F3;
    }

  /*смартфон*/
   .smartphone {    
    content: "";
    height: 100%;        
    display: flex;
    background-size: contain;
    align-items: center;
    justify-content: center;
   }

   .smartphone {    
    margin-right: 10px;    
   }

   .phone:hover,
   .phone:focus {
     --color3: #2196F3;
   }
    
 /*стилизация раздела - герой*/ 
 .hero {
    background-image:
    linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/team.jpg"); 
    background-size: 1600px;
    background-repeat: no-repeat;
    background-position: center;        
    padding-top: 200px;
    padding-bottom: 200px;    
 }

 .hero-section {   
   background-position: center;   
   justify-content: center;      
   }

 .hero-section > .title-of-hero {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;         
 }

 /*модальное окно*/
 .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.2);
  
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;  
 }

 .backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;    
 }

 .backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
 }

 .modal {
  position: absolute;
  width: 528px;
  padding: 40px;
  background-color: var(--primary-white-color);  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
  0px 1px 1px rgba(0, 0, 0, 0.14), 
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .close-window {
  color: #000000;
 }

 .modal-button {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;  
  background-color: transparent;
  position: absolute;
  right: 8px; 
  top: 8px;   

  cursor: pointer;
 }

 .modal-button:hover .close-window,
 .modal-button:focus .close-window {
  fill: var(--accent-blue-color);

      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }


 /*формы модального окна*/
  
 .modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;        
  color: var(--primary-text-color);
  margin-bottom: 12px;
 } 

 .form { 
  display: block; 
  width: 448px;
 }
 
 .field {
  position: relative;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px; 
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 4px; 

      transition-property: outline-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }

 .field:not(:last-child) {
  margin-bottom: 10px;
 }

 .form-top-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--description-text-color);
 }

  .textarea-field {
   
    color: var(--highlight-color);
    min-height: 120px;
    padding-top: 11px;
    padding-right: 11px;
    padding-left: 15px;
    resize: none;    
  } 

  .textarea-field::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--description-text-color);    
  }
  
  .field-box {
    position: relative;
  }

  .field:focus {  
    outline-color: var(--accent-blue-color);
    } 
    
  .field:focus + .modal-svg {
    fill: var(--accent-blue-color);
  }

  .modal-svg {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
  }

  .form-top {
    margin-bottom: 20px;
  }

  .second-form {
    justify-content: center;
  }

  .second-form-agreement {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--description-text-color);
    margin-left: 8px;    
    margin-right: 4px;    
  }

  .agreement-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--accent-blue-color);
    text-decoration: underline;
  }

  .button-second-form {
    background-color: var(--accent-blue-color);
    display: inline-flex; 
    justify-content: center;
    align-items: center;       
    border-radius: 2px;    
    width: 16px;
    height: 15px;
    transition: background-color .3s;
  }

  .send-button { 
    display: block;
    min-width: 200px;      
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: #188CE8;
    border: 1px solid transparent;
    font-family: inherit;
    cursor: pointer;    
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;  
    


    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);        
  }
  

  .send-button:hover,
  .send-button:focus {
  background-color: var(--accent-blue-color);
  }

  .send {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);        
  }
  
  .checkbox-field {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);    
    margin: -1px;
  }

  .ok-svg {
    width: 16px;
    height: 16px;    
    background-color: var(--primary-white-color); 
    border: 2px solid var(--highlight-color);
    border-radius: 2px;
    fill: var(--primary-white-color);

    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .checkbox-field:checked + .ok-svg {
    border-radius: 2px;
    background-color: var(--accent-blue-color);
    border-color: transparent;
  }

  .checkbox-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;  
  margin-left: 0;
  margin-right: 0;      
  }

  .labl {
    display: block;
    margin-bottom: 10px;
  }



 /* Кнопки (button-primary - для раздела герой, button-secondary - кнопки фильтра)*/
 .button-primary {
      color: var(--primary-white-color);
      background-color: var(--accent-blue-color);
      cursor: pointer;
      font-family: inherit;  
      display: block;
      margin: auto;
      height: 50px;       
      border: 1px solid transparent;
      border-radius: 4px;
      padding: 10px 32px;
      
      transition-property: background-color, color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     }

     .button-primary:hover,
     .button-primary:focus {
      color: var(--primary-white-color);
      background-color: var(--active-color);
     }

 .order {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.87;
      align-items: center;
      text-align: center;
      letter-spacing: 0.06em;
     }
     
 .button-secondary {
     color: var(--primary-text-color);
     background-color: #F5F4FA;
     cursor: pointer;
     font-family: inherit;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.62;
     border: 1px solid transparent;
     border-radius: 4px;
     padding: 6px 22px; 
     
      transition-property: color, background-color, box-shadow;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .switcher-items {
      margin-right: 8px;       
    }


    .button-secondary:last-child {
     margin-right: 0px;
    }

     .filter {
     text-align: center;     
     display: flex;               
     }
     
     .well {
        margin-bottom: 50px;
     }

     .switchers {
      display: flex;
      justify-content: center;
     }

     .button-secondary {      
      display: flex;
      align-items: center;
     }

      
     
 .button-secondary:hover, .button-secondary:focus {
     color: var(--primary-white-color);
     background-color: var(--accent-blue-color);
     box-shadow: 0px 2px 2px 0px #0000001F;    
    }

 /* стилизация второго сектор страницы студия (преимущества данной компании) */

 .preview {
    padding-top: 94px;
    padding-bottom: 0px;
 }

 .future-list {
   display: flex;
   align-items: center;
 }

 .future-list .item {
    width: 270px;    
 }

 .item:not(:last-child) {
   margin-right: 30px;
 }

  .advantages {
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   margin-bottom: 10px;
 }

 /* векторный декоратив для сектора преимуществ компании*/

 .benefits-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px; 
  background-color: #F5F4FA;
  margin-bottom: 30px;
  border-radius: 4px;  
 }

 /*-----------------------------------*/

  .declaration {
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;    
   } 

   .declaration:not(:last-child) {
      margin-right: 30px;
   }

   /*чем мы занимаемся*/

  .what-are-we-doing {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.16;
   text-align: center;

   margin-bottom: 50px;            
 }

 .illustrations {
   display: flex;
   justify-content: center;     
 }

 .image-card {
  display: block;
 }

 .description-illustration {
   display: inline-block;
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   padding-top: 27px;
   padding-bottom: 27px;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   text-align: center;   
   text-transform: uppercase;
   color: var(--primary-white-color);
   background-color: rgba(47, 48, 58, 0.8);      
 }

 .illustration:not(:last-child) {
   margin-right: 30px;
 }

 .poster {
  position: relative;
  display: inline-block;
 }



 /*---------------------*/



  .our-team {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.16;
   text-align: center;
   margin-bottom: 50px;   
 }

 .personalities {
   display: flex;
   align-items: center;
   margin-left: -30px;   
 }

 .persona {
   flex-basis: calc((100% - 4 * 30px) / 3);
   margin-left: 30px;
   box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
   background-color: var(--primary-white-color);
   border-radius: 4px;   
   }

 .buttom-of-persona {
    border-radius: 4px;
    padding: 30px;    
 }

 .buttom-of-persona > p {
  margin-bottom: 10px;
 }

  .personalities h3 {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.18;
   text-align: center;   
   margin-bottom: 10px;
  }

  .personalities p {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.18;
   text-align: center;
   margin-bottom: 16px;
 }

 .our-team-container {
  background-color: #F5F4FA;
 }

 /* стилизация карточек сотрудников ссылками на социальные сети */

 .social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
 }

 .social-links > li {
  width: 44px;
  height: 44px;   
 }

 .social-links > li:not(:last-child) {
  margin-right: 10px;
 }

 /* стилизация ссылок на соц сети под карточками сотрудников*/ 
 .source-icon {
  display: flex;  
  width: 44px;
  height: 44px; 
  border-radius: 50%;
  height: 100%;
  color: #757575;
  background-color: var(--primary-white-color);    
  background-repeat: no-repeat; 
  justify-content: center;
  align-items: center; 
  
      transition-property: background-color, color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .source-icon:hover,
  .source-icon:focus {
    background-color: var(--accent-blue-color);
   }

  .source-icon:hover .social-network,
  .source-icon:focus .social-network {
     fill:#FFFFFF;
   }
   
  .social-network { 
    display: flex; 
    color: var(--social-links-color);    
    text-align: center;               
  }
  .social-network {      
    fill: currentColor;
      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
 /* Стилизация второго сектора страницы "Портфолио"
 с демонстрацией практической деятельности компании(картинки-ссылки)*/

 .switchers {
 justify-content: center;
 display: flex;
 margin-bottom: 50px; 
 }

 .cards a {
   color: inherit;   
 }

 .cards {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
   justify-content: center;      
 }

  .our-experience {
 flex-basis: calc((100% - 2 * 30px) / 3);
 position: relative;

      transition-property: box-shadow, color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .our-experience > a {
    display: block;
  }
 
  .our-experience:focus {
   color: var(--highlight-color);
 }

 .our-experience:hover {
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
 }

  .title-cards {
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
   text-align: left;
 }

  .cards-description {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.87;
   text-align: left;
 }

 .our-pride {
    padding: 20px 22px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
 }

/*оверлей для карточек*/

 .overlay-box {
  height: 100%;
  width: 100%;
  position: relative; 
  overflow: hidden;      
 }

 .overlay-content {
  transform: translateY(100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 250ms ease;
 }

 .experience-item:hover .overlay-content,
 .experience-item:focus .overlay-content {
  transform: translateY(0%);  
 }

 .over-text {
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  text-align: left;  
  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);      
 }


/*Секция постоянных клиентов*/
  .regular-customers {
    font-weight: 700px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
  }

  .customer {
    height: 100%;
    display: flex;
    width: 170px;
    height: 92px;
    color: #afb1b8;
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;
    justify-content: center;
    align-items: center;

      transition-property: border, color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .customer:hover, 
  .customer:focus {
    color:#2196f3;
    border-color: var(--accent-blue-color); 
  }

  .our-clients {
    display: flex;
    justify-content: space-between;
    align-items: center;       
  }

  .our-clients > li:not(:last-child) {
    margin-right: 30px;
  }

  .client-area {
    fill: currentColor;
  }

 
/*стилизация подвала*/
  .footer {
    background-color: var(--decoration-line);
    padding-top: 60px;
    }

  .ending {
    background-color: var(--decoration-line);
    display: flex;     
  }

  .logo-from-ending {
     display: inline-table;
     flex-wrap: wrap;
     margin-bottom: 20px;
     padding-top: 0px;
     padding-bottom: 0px;         
  }

  .ending .address-list {
    width: 231px;
    height: 81px;
    display: inline-block;
    flex-wrap: wrap;
    padding: 0px;       
  }

  .address-from-footer:not(:last-child) {
     margin-bottom: 9px;
  }

/* ветка с социальными сетями */ 
  .footer-socials {
    display: flex;
    flex-wrap: wrap;
    width: 206px;
    height: 80px;
    margin-top: 9px;
    margin-left: 70px;
    margin-bottom: 100px;           
  }

  .join {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
    line-height: 100%;
    font-weight: 700px;
    color: var(--primary-white-color);
    margin-bottom: 20px;
  }

  .last-socials {
    display: flex;  
    width: 44px;
    height: 44px;
    border-radius: 50%;
    height: 100%;
    color: var(--primary-white-color);
    background-color: rgba(255, 255, 255, 0.1);;    
    background-repeat: no-repeat; 
    justify-content: center;
    align-items: center; 
    
      transition-property: background-color, color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .last-socials:hover, 
    .last-socials:focus {       
       background-color: var(--accent-blue-color);
     }
  
    .last-socials:hover, 
    .last-socials:focus {
      color:#FFFFFF; 
    }

    .last-socials {
      fill: currentColor;
    }
     
    .footer-social-network { 
      display: flex; 
      color:#FFFFFF;    
      text-align: center;               
    }
    
    .footer-adress-menu {
      display: inline-block;
      width: 231px;
      padding: 0px;
    }

    .footer-icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
     }
    
     .footer-icons > li {
      width: 44px;
      height: 44px;
     }

     .footer-icons > li:not(:last-child) {
      margin-right: 10px;
     }

     /*Форма футера*/

     form {
      display: flex;
      outline: transparent;
     }

     .e-mail-input {
      display: block;      
      width: 570px;
      height: 86px;      
      margin-left: 93px;
      margin-bottom: 94px;
      margin-top: 9px;
     }

     .subscribe {
      text-transform: uppercase;
      font-size: 14px;
      line-height: 1.14;
      line-height: 100%;
      font-weight: 700px;
      color: var(--primary-white-color);      
     }

     .email-line {
      display: inline-block;
      width: 358px;      
      border-radius: 4px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));      
      margin-right: 12px;
      font-family: inherit;
      font-size: 16px;
      line-height: 1.25;
      font-weight: 700px;
      line-height: 100%;
      background-color: var(--decoration-line);
      color: var(--primary-white-color);
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 16px;
      padding-right: 16px;   
     }

     .button-form {
      display: flex;
      min-width: 200px;      
      border-radius: 4px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      background-color: var(--accent-blue-color);
      border: 1px solid transparent;
      font-family: inherit;
      cursor: pointer;
      margin-top: auto;
      justify-content: center;               

      transition-property: background-color, color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     }

     .join-us {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.87;
      align-items: center;
      text-align: center;
      letter-spacing: 0.06em;
      margin-right: 10px;
      padding-top: 9px;
      padding-bottom: 9px;      
      color: var(--primary-white-color);
     }

     .icon-send {
      display: flex;
      align-items: center;
      margin-top: 12px;
     }

     .button-form:hover,
     .button-form:focus {
      color: var(--primary-white-color);
      background-color: var(--active-color);
     }

     .footer-hidden {
      visibility: hidden;
      margin: 0px;
      padding: 0px;
     }

     

    



